@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2E8DF;
    padding-left: 10px;
}

header{
    padding-left: 15px;
}

header > h1{
    text-align: center;
    font-size: 3em;
}

aside#redes{
    color: #86A69D;
}

nav > a{
    text-decoration: none;
    color: #F2C6C2;
    display: block;
    width: 300px;
}

nav > a:hover{
    text-decoration: underline;
}

nav > a:visited{
    color: #242423;
}

nav > a:active{
    color: green;
}

section#perfil{
    color: #004643;
}

article#dif > p{
    color: #02c2b8;
}

aside#dif1 > p{
    text-align: right;
    width: 350px;
    color: black;
    font-weight: bolder;
}

article#diferente > h2{
    color: #6d6d02;
}

article#diferente > p{
    color:#818103;
} 

aside#diferente1 > a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

aside#diferente1 > a:hover{
    text-decoration: underline;
}

aside#diferente1 > a:active{
    color: green;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 7px;
}

footer > p{
    margin: 0px;
}