@charset "UTF-8";
*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
    margin: auto;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    color: white;
    margin: auto;
}