
/* 
    Desafio 013 

    Simular um Smartphone
*/

/* CONFIGURACAO Body */

body {
    background-color: black;
    background-image: url('../fundo/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;

    position: relative;
}


/* CONFIGURACAO iframe */

iframe {
    background-size: cover;
    min-width: 320px;
    max-width: 1025px;
    height: 95dvh;
    

    position: absolute;


    left: 50%;

    transform: translate(-50%, 15%);
}

/* CONFIGURACAO Nav -> Redes*/

nav {
    text-align: right;
    padding-right: 2px;
    padding-bottom: 20px;
}

nav > img {
    border-radius: 75%;
    height: 10vh;
}
